[paths]
source =
   src
   */site-packages

[run]
branch = true
source = 
    csci_utils
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit =
    */tests.py
    */test_*.py
    */*_tests.py
    */__main__.py
    */cli.py